body, html {
    height: 100%;
    margin: 0px;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}

p {
    font-family: 'EB Garamond', serif; 
}

h3 {
    color: #474747;
    margin: 2px;
}



/*************
  The Banner 
**************/
.hero-background {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/sunset.jpeg"); */
  background-image: url("images/sunset.png");
  width: 100%;
  /* Set a specific height */
  height: 300px;

  /* Position and center the image to scale nicely on all screens */
  /* background-attachment: fixed; */
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;
  position: relative;
}

.hero-image{
    width: 150px;
    height: 150px;
}

/* Place text in the middle of the image */
.hero-content {
  text-align: left;
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 80px 0px 0px 48px;

  display: flex;
  flex-direction: row;
  gap: 16px;;

  
  /* text-shadow: 2px 2px #000000; */
}

.hero-text {
    display: flex;
    flex-direction: column;
}



.hero-subtext {
    /* display: flex;
    flex-direction: column;
    align-items: left; */
}

/* @media (max-width: 550px) {
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/Wink.jpeg");
        background-attachment: scroll;
        height: 350px;
        top: 50px;
    }
    .hero-text {
        top: 100px;
    }
} */

/* @media (min-width: 1435px) {
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url("images/Wink.jpeg");
        background-size: cover;
    }
} */

/*****************
The Navigation Bar 
******************/

#navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgba(69, 108, 147, 0.5);
    position: fixed;
    top: 0px;
    padding: 0px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.float-right{
    float: right !important;
}

#navigation>li  a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation>li  a:hover {
    background-color: rgba(178, 202, 227, 0.5);
}


/*****************
     Main Body 
******************/

#main{
    margin: 10px 10%;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.section-title{
    text-decoration: underline;
    margin-bottom: 0;
}

/*****************
    Work Cards
******************/

.content-margin {
    margin-top: 16px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}

.card-project {
    /* margin: 2% 5%; */
    /* padding: 8px; */
    box-shadow: 0px 0px 16px rgb(0 0 0 / 20%);
    /* max-width: 750px; */
    border: 5px solid white;
    height: calc(100vw/4);
    /* width: 40%; */
    /* padding: 10%; */
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-project-description{
    position: absolute;
    padding: 24px;
    /* top: 10px; */
    /* left: 10px; */
    /* display: none; */
}

.card-project-description h4{
    margin-top: 0px;
    margin-bottom: 8px;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: none
}

.card-project-description p{
    display: none;
    color: black;
}

.card-project:hover {
    background-image: none !important;
    background-color:#d3e3f7 !important;
}

.card-project:hover .card-project-description h4{
    text-shadow: none;
    color: black;
    display: inherit;
}


.card-project:hover .card-project-description p{
    display: inline;
    word-wrap: break-word;
}

.square-card{
    padding-bottom: 20%;
}

@media (max-width: 1100px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
        max-width: 650px;
        gap: 24px;
        margin: 0 auto;
    }
    .card-project {
        height: calc(100vw/3);
        min-height: 200px;
        /* width: 100%; */
        /* display: contents; */
        /* margin: 5% 10%; */
        /* width: 80%; */
        /* padding: 20%; */
    }
    .bottom-card{
        margin: 5% 10%;
    }
    .square-card{
        padding-bottom: 40%;
    }
}

@media (max-width: 550px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: none;
    }
    .card-project:hover .card-project-description p.short-550{
        display: inline;
    }
}

@media (min-width: 551px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: inline;
    }
    .card-project:hover .card-project-description p.short-550{
        display: none;
    }
}

/*****************
  Research Cards
******************/

#fringe-code{
    background-image: url("images/fringe-landing.png");
}

#metabase{
    background-image: url("images/metabase.png");
}

#ruby-portfolio{
    background-image: url("images/portfolio.png");
}

#plantopia{
    background-image: url("images/plantopia.png");
}

#cocktails{
    background-image: url("images/cocktails.png");
}


/*****************
  Writing Cards
******************/

#startup-grind{
    background-image: url("images/Sustainable-Fashion.jpg");
}

#fringe{
    background-image: url("images/fringe-presentation.jpg");
}

#manage-labs{
    background-image: url("images/ml-article.png");
}

/*****************
About
******************/

.home-profile {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 48px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
    .research{
        padding: 30%; 
    }
}

.p-3{
    width: 100%;
    min-height: 250px;
}

/*****************
  Contact & Footer
******************/

.footer{
    background-color: #d3e3f7;
    padding: 10px;
}


.fa-stack-1x {
    color:white;
}

.icon-container{
    display: inline-block;
}
/* .icon-linkedin{
    color:#0072b1;
}

.icon-github{
    color: #6e5494;
} */

.fa-stack{
    color: #456c93;
}
.fa-stack:hover {
    color: #b2cae3
}

/* .icon-facebook {
   color:#3b5998;
}

.icon-twitter {
    color:#00aced;
}

.icon-gplus{
    color:#dd4b39;
} */

/* .fa {
    -webkit-font-smoothing: antialiased;
    display: flex;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: 'Font Awesome 5 Brands';
    height: 20px;
}

.social-media-icons{
    list-style: none;
}

.icon-link{
    margin: 0 10%;
    display: inline;
}

.icon{
    position: relative;
    float: center;
} */