body, html {
    height: 100%;
    margin: 0px;
    width: 100%;
    font-family: 'Hind Madurai', sans-serif;
}

p {
    font-family: 'Hind Madurai', serif; 
}

h1 {
    font-family: 'Felipa', sans-serif;
    font-size: 42px;
    margin: 0 0 8px 0;
    color: black;
}

h2 {
    font-family: 'Quintessential', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Della Respira', sans-serif;
    color: #474747;
    margin: 2px;
}

h4 {
    font-family: 'Della Respira', sans-serif;
}



/*************
  The Banner 
**************/
.hero-background {
  background-image: url("images/sunset.png");
  width: 100%;
  height: 300px;
  box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image{
    width: 150px;
    height: 150px;
}

.hero-content {
  text-align: left;
  position: absolute;
  width: 100%;
  padding: 80px 0px 0px 48px;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}


/*****************
The Navigation Bar 
******************/

#navigation {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgba(69, 108, 147, 0.5);
    position: fixed;
    top: 0px;
    padding: 0px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.float-right{
    float: right !important;
}

#navigation>li  a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navigation>li  a:hover {
    background-color: rgba(178, 202, 227, 0.5);
}


/*****************
     Main Body 
******************/

#main{
    margin: 10px 10%;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*****************
    Work Cards
******************/

.content-margin {
    margin-top: 16px;
    margin-bottom: 40px;
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
}

.card-project {
    box-shadow: 0px 0px 16px rgb(0 0 0 / 20%);
    border: 5px solid white;
    height: 250px;
    width: 100%;
    max-width: 442px;
    box-sizing: border-box;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-project-description{
    position: absolute;
    padding: 24px;
}

.card-project-description h4{
    margin-top: 0px;
    margin-bottom: 8px;
    color:white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: none
}

.card-project-description p{
    display: none;
    color: black;
}

.card-project:hover {
    background-image: none !important;
    background-color:#d3e3f7 !important;
}

.card-project:hover .card-project-description h4{
    text-shadow: none;
    color: black;
    display: inherit;
}


.card-project:hover .card-project-description p{
    display: inline;
    word-wrap: break-word;
}

.square-card{
    padding-bottom: 20%;
}

@media (max-width: 1100px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
        gap: 24px;
        margin: 0 auto;
    }
    .bottom-card{
        margin: 5% 10%;
    }
    .square-card{
        padding-bottom: 40%;
    }
}

@media (max-width: 550px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: none;
    }
    .card-project:hover .card-project-description p.short-550{
        display: inline;
    }
}

@media (min-width: 551px) {
    .card-project:hover .card-project-description p.too-long-550{
        display: inline;
    }
    .card-project:hover .card-project-description p.short-550{
        display: none;
    }
}

/*****************
  Research Cards
******************/

#bank-statements-processor{
    background-image: url("images/finance-graphs.jpg");
}

#msg-queue{
    background-image: url("images/message-graphic.png");
}

#fringe-code{
    background-image: url("images/fringe-landing.png");
}

#metabase{
    background-image: url("images/metabase.png");
}

#ruby-portfolio{
    background-image: url("images/portfolio.png");
}

#plantopia{
    background-image: url("images/plantopia.png");
}

#cocktails{
    background-image: url("images/cocktails.png");
}

/*****************
  Writing Cards
******************/

#dev-management-feedback{
    background-image: url("images/coworkers-chat.jpg");
}

#dev-management-goals{
    background-image: url("images/mac-and-notebook.jpg");
}

#startup-grind{
    background-image: url("images/Sustainable-Fashion.jpg");
}

#fringe{
    background-image: url("images/fringe-presentation.jpg");
}

#manage-labs{
    background-image: url("images/ml-article.png");
}

/*****************
About
******************/

.home-profile {
    width: 250px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
    border-radius: 48px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.p-3{
    width: 100%;
    min-height: 250px;
}

/*****************
  Contact & Footer
******************/

.footer{
    background-color: #d3e3f7;
    padding: 10px;
}

.icon-container{
    display: inline-block;
}
.fa-stack-1x {
    color:white;
}
.fa-stack{
    color: #456c93;
}
.fa-stack:hover {
    color: #b2cae3
}